.header{
    color: #FFB321;
    padding: 17px, 0px, 17px, 0px;
}

.header_row{
    display: flex;
    width: 1168px;
    height: 86px;
    justify-content: space-between;
    padding: 17px, 0px, 17px, 0px;
}

.header_logo{
    width: 168px;
    height: 30px;
    gap: 5px;
    size: 30px;
    line-height: 30px;
    font-weight: 800;
    margin-left: 316px;
    margin-top: 25px;
    font-size: 20px;
}


.full{
    width: 1168px;
    height: 86px;
    justify-content: space-between;
    padding: 17px, 0px, 17px, 0px;
}
.icon{
    margin-top: 3.4px;
    margin-right: 6px;
    width: 25px;
    height: 25px;
}